* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  height: 100vh;
}

.header {
  background-color: #008000;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* .wrapper {
  margin: 0 auto;
  width: 40rem;
} */

.dino {
  background: #008000;
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 60px;
}

.cactus {
  background: #800000;
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 60px;
}